@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500);

$theme-primary: #b5a478;
$theme-primaryb2: rgba(255,255,255, 0.3);
$theme-primaryb: rgba(255,255,255, 0);
$theme-bg-photo: #b5a478; //valokuvat tausta väri vasen
$theme-photo: #26728B;//#067F90;//#005D73;//#005A5A; //valokuvat tausta väri oikea
//$theme-photo-2: white; //valokuvat tausta väri oikea
/*$theme-photo: #3D7882;
$theme-photo-2: #EB76D4;*/
$theme-photogradient: rgba(222,222,222,0.6);
$theme-photogradient2: rgba(181,164,120,1);
$gray-dark: rgba(0,0,0, 0.8);
$white2: rgba(0,0,0, 0.8);
$white: rgba(255,255,255, 0);


/*tausta laatikoille*/
#portfolio{
            background-repeat: no-repeat;
              background: black; /* For browsers that do not support gradients */
              background: -webkit-linear-gradient(top, $white, black, $theme-primaryb); /* For Safari 5.1 to 6.0 */
              background: -o-linear-gradient(top, $white, black, $theme-primaryb); /* For Opera 11.1 to 12.0 */
              background: -moz-linear-gradient(top, $white, black, $theme-primaryb); /* For Firefox 3.6 to 15 */
              background: linear-gradient(to top, $white, black,  $theme-primaryb); /* Standard syntax */

            .reuna {
            position: absolute;
            //margin: 0px 25px 25px 25px;
            //max-width: 400px;
            padding: 25px;
            width: 100%;
            height: 100%;
            background: fade-out(white, .1);

            -webkit-transition:2s linear all;
            -moz-transition:2s linear all;
            -o-transition:2s linear all;
            transition:2s linear all;

            animation-delay: 2s;
            -webkit-animation-delay: 2s;
            -moz-animation-delay: 2s;
            -o-animation-delay: 2s;

            opacity: 0.5;
            border-radius:0px;
            border: 1px outside $theme-primary;
            //height: 400px;
            text-align: center;
            overflow: auto;
 
            &:hover {
              opacity:1;
              border-radius:0px;
              border: 1px outset white;
              //border-color: $theme-primary;
              box-shadow: 10px 10px 5px $gray-dark;
                          }
            /*.list-inline a.laatikko{
              margin:0;
              padding:0;
              border-radius:1px;
              border: 1px solid black;
            }*/
             
              li.listline{
                border: 1px solid $theme-primary;
                border-radius:25px;
                //color: rgba(255, 255, 255, 0.65);
                color: $theme-primary;
                font-size: 1em;
              }
              li.listline a:hover{
                color: black;
  -webkit-transition: all .2s ease;
              transition: all .2s ease;
              text-decoration: none;
              font-size: 1.5em;
              }
            }
            .reunat {
            position: absolute;
            margin-top: 10%;
            margin-left: 10%;
            //max-width: 400px;
            padding: 25px;
            width: 100%;
            height: 90%;
            background: fade-out(white, .1);

            -webkit-transition:2s linear all;
            -moz-transition:2s linear all;
            -o-transition:2s linear all;
            transition:2s linear all;

            animation-delay: 2s;
            -webkit-animation-delay: 2s;
            -moz-animation-delay: 2s;
            -o-animation-delay: 2s;

            opacity: 0.5;
            border-radius:0px;
            border: 1px outside $theme-primary;
            //height: 400px;
            text-align: center;
            overflow: auto;
            
            &:hover {
              opacity:1;
              border-radius:0px;
              border: 1px outset white;
              //border-color: $theme-primary;
              box-shadow: 10px 10px 5px $gray-dark;
                          }
            }
            .reunaeka {
           /* color: black;

            //overflow:hidden;
            position: absolute;
            margin-top:10%;
            margin-left:10%;
            margin-right:10%;
            margin-bottom: 10%;
            padding: 0px;
            //padding-top:0px;
            width: 78%;
            height: 80%;
            border-radius:1px;
            //background: fade-out(white, .1);
            //background-repeat: no-repeat;

            -webkit-transition:0.2s linear all;
            -moz-transition:0.2s linear all;
            -o-transition:0.2s linear all;
            transition:0.2s linear all;

            animation-delay: 0.2s;
            -webkit-animation-delay: 0.2s;
            -moz-animation-delay: 0.2s;
            -o-animation-delay: 0.2s;

            opacity: 0.5;
            //border-radius:0px;
            //border: 1px outside white;
            //height: 400px;
            text-align: center;
            //overflow: none; //sivu ei vierity*/

              opacity:0.5;
              position: absolute;
              text-align: center;
              border-radius:1px;
              overflow: auto;
              //resize: vertical;
              height: 33%;
              width: 33%;
              margin-top: 33%;
              margin-left: 33%;
              margin-right: 33%;
              margin-bottom: 33%;
              border: 2px outset white;
              box-shadow: 10px 10px 5px $gray-dark;


            overflow:hidden;

            ol.none{
            color: black;
            margin-left:0px;
            padding: 0px;
            list-style-type:none;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            li{
              margin: 0; 
              padding: 10px;
              max-width: 400px;
              border-radius:1px;
              border: 1px solid black;
              opacity:0.4;
              height: auto;
              width: 150px;
              a{color: black;}
              }
            li:hover{
              opacity:1;
              border-radius:0px;
              //border: 1px outset black;
              //border: 1px outset white;
              //border-color: $theme-primary;
              box-shadow: 5px 1px 5px $gray-dark;
              font-size: 1.5em;
              height: auto;
              width: 170px;
              
              a:hover{text-decoration: none; }
              }
            }
 
            &:hover {
              opacity:0.5;
              border-radius:1px;
              overflow: auto;
              //resize: vertical;
              height: 33%;
              width: 33%;
              margin-top: 33%;
              margin-left: 33%;
              margin-right: 33%;
              margin-bottom: 33%;
              border: 2px outset white;
              box-shadow: 10px 10px 5px $gray-dark;
             
            }
            }
            
    
}
ol.koko{
  margin: 0; 
  width: 100%;
  background-color: black;
  list-style-type:none;
}
li.koko, li.koko a{
  margin: 0; 
  width: 100%;
}
button.rivi{
  width: 100%;
}

//kauppojen listojen laatikot
ol.laatikko{
margin-left:0px;
padding: 0px;
list-style-type:none;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
li{
  margin: 0; 
  padding: 10px;
  max-width: 400px;
  border-radius:1px;
  border: 1px solid black;
  opacity:0.4;
  height: 150px;
  width: 150px;
  }
li:hover{
  opacity:1;
  border-radius:0px;
  border: 1px outset white;
  //border-color: $theme-primary;
  box-shadow: 10px 10px 5px $gray-dark;
  font-size: 1.5em;
  height: 170px;
  width: 170px;
  a:hover{text-decoration: none;}
  }
}
//kauppojen listojen laatikot
ol.tuotteet{
margin-left:0px;
padding-left:0px;
list-style-type:none;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
li{
  margin: 0; 
  max-width: 400px;
  border-radius:20px;
  border: 1px solid black;
  opacity:0.4;
  height: 110px;
  width: 110px;
  }
li:hover{
  opacity:1;
  border-radius:0px;
  //border: 1px outset white;
  //border-color: $theme-primary;
  //box-shadow: 10px 10px 5px $gray-dark;
  font-size: 1.5em;
  height: 120px;
  width: 120px;
  }
}

button.portaat{
  height: 100%;
  width: 100%;}

 /*li.ng-scope {
  margin: 0; 
  max-width: 400px;
  border-radius:1px;
  border: 1px solid black;
  opacity:0.4;
  &:hover {
              opacity:1;
              border-radius:0px;
              border: 1px outset white;
              //border-color: $theme-primary;
              box-shadow: 10px 10px 5px $gray-dark;
              font-size: 1.5em;
  }
}*/
.portfolio-link ng-binding{
  max-width: 400px;
}
.reunat{
  margin: 0;
  width: 30%;
  background-color: black;
}



.bg-light-gray{
 /* background-image: url("img/DSC_0047_1900.jpg");*/
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: black;
}

/*.reuna {
  //opacity: 0.5;
  background: fade-out(white, .1);

  -webkit-transition:2s linear all;
  -moz-transition:2s linear all;
  -o-transition:2s linear all;
  transition:2s linear all;

  animation-delay: 2s;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;

  opacity: 0.5;
  border-radius:0px;
  border: 1px outside white;
  height: 400px;
  text-align: center;
  overflow: auto;
  padding-top:100px;
  padding-bottom: 100px;
  //border-color: $theme-primary;
 
  &:hover {
    opacity:1;
    border-radius:0px;
    border: 1px outset white;
    //border-color: $theme-primary;
    box-shadow: 10px 10px 5px $gray-dark;
                }
}*/

.btn-primary {
  background-color: $theme-primary; }

h3.black, yellow, input, button, label{
  color: black;
  font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
  font-size: 1em;
  text-transform: none;

  //font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;

}

#myName{
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
  font-size: 4em;
}


/*.yellow, input, button, label{
 font-family: Papyrus,fantasy;
 }*/

p.brand{
  color: $theme-primary;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}
.footer {
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
  //color: $theme-primary;
  color: $theme-primary;
  text-shadow: 5px 5px 5px $gray-dark;

  
}

.team-member{margin-left: 100px;}

// define it
@mixin selection {
    ::-moz-selection { @content; }
    ::selection { @content; }
}

// use it
@include selection {
    color: white;
}


// Footer

footer {
  padding: 25px 0;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0px;
  left: 0px;

}

/*tausta ihan alareuna*/
.index{
  background-repeat: no-repeat;
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, black, #BB3B08); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left bottom #BB3B08, black, #BB3B08 ); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left bottom, #BB3B08, black, #BB3B08); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to left bottom, #BB3B08, black, #BB3B08); /* Standard syntax */
  text-align: center;
  
}

/*tausta kaikelle*/
#likefooter {
  background-repeat: no-repeat;
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left bottom, rgb(250, 225, 10), rgb(186, 57, 8),black); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left bottom, rgb(250, 225, 10),rgb(186, 57, 8),black); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left bottom, rgb(250, 225, 10),rgb(186, 57, 8), black); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to left bottom, rgb(250, 225, 10), rgb(186, 57, 8), black); /* Standard syntax */
  text-align: center;

  //background-repeat: no-repeat;
  //max-height:100%;

  
}

//LOMAKKEET

.rivi{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
   -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  background: none;
  max-height: 100%;
  width: 100%;
  justify-content:center,
}
.eitausta{
  padding: 20px;
  .gold{color: $theme-primary;}
}

//pohja vaalea
.window {
  z-index: 100;
  color: #fff;
  font-family: roboto;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  height: auto;//560px;
  width: 360px;
  background: #fff;
}

//vaalealla pohjalla toiminta
.content {
  background: rgba(255, 255, 255, 0.35);
  padding-left: 25px;
  padding-right: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  z-index: 5;
}





.overlay {
  background: -webkit-linear-gradient(#8CA6DB, #B993D6);
  background: linear-gradient(#8CA6DB, #B993D6);
  opacity: 0.85;
  filter: alpha(opacity=85);
  height: 560px;
  position: absolute;
  width: 360px;
  z-index: 1;
}

.bold-line {
  background: #e7e7e7;
  position: absolute;
  top: 0px;
  bottom: 0px;
  margin: auto;
  width: 100%;
  height: 360px;
  z-index: 1;
  opacity:0.1;
  background-size:cover;
}

@media (max-width: 500px) {
  .window {
    width: 100%;
    height: 100%;
  }
  .overlay {
    width: 100%;
    height: 100%;
  }
}


input {
  border: none;
}

button:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: $theme-primary;
}

::-webkit-input-placeholder .input-line:focus +::input-placeholder {
  color: $theme-primary;
}


.input-line:focus {
  outline: none;
  border-color: $theme-primary;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.ghost-round {
  cursor: pointer;
  background: none;
  //border: 1px solid rgba(255, 255, 255, 0.65);
  border: 1px solid $theme-primary;
  border-radius: 25px;
  //color: rgba(255, 255, 255, 0.65);
  color: $theme-primary;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-size: 19px;
  font-size: 1.2rem;
  font-family: roboto;
  font-weight: 300;
  line-height: 2.5em;
  margin-top: auto;
  margin-bottom: 25px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.ghost-round:hover {
  background: rgba(255, 255, 255, 0.15);
  color: black;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  text-decoration: none;
}

.spacing {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 120px;
  font-weight: 300;
  text-align: center;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.65)
}

.input-line {
  background: none;
  margin-bottom: 10px;
  line-height: 2.4em;
  color: black;
  font-family: roboto;
  font-weight: 300;
  letter-spacing: 0px;
  letter-spacing: 0.02rem;
  font-size: 19px;
  font-size: 1.2rem;
  border-bottom: 1px solid $theme-primary;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.full-width {
  width: 100%;
}

.input-fields {
  margin-top: 25px;
}


#portfolioModal3{
  .oma{
  background: black; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top, $theme-photo, black, $theme-bg-photo); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top, $theme-photo, black, $theme-bg-photo); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, $theme-photo,black ,$theme-bg-photo); /* For Firefox 3.6 to 15 */
  background: linear-gradient(top, $theme-photo, black, $theme-bg-photo); /* Standard syntax */
  }
  .tumma{background-color: $gray-dark; opacity: 0.6; border:none;}
  .tumma:hover{opacity:1;}
}

//gallery
.arrow {
cursor: pointer;
display: block;
height: 64px;
margin-top: -35px;
outline: medium none;
position: absolute;
top: 50%;
width: 64px;
z-index: 5;
}
.arrow.prev {
color: white;
left: 20px;
opacity: 0.6;
transition: all 0.2s linear 0s;
}
.arrow.next {
color: white;
opacity: 0.6;
right: 20px;
transition: all 0.2s linear 0s;
}
.arrow.prev:hover{
opacity:1;
}
.arrow.next:hover{
opacity:1;
}
.photonav {
bottom: -4px;
display: block;
height: 50px;
left: 0;
margin: 0 auto;
padding: 1em 0 0.8em;
position: absolute;
right: 0;
text-align: center;
width: 100%;
z-index: 5;
}
.photonav li {
border: 1px dotted black;
cursor: pointer;
display: inline-block;
height: 30px;
margin: 0 8px;
position: relative;
width: 50px;
}
.photonav li.active {
border: 1px solid black;
box-shadow: 10px 10px 5px $gray-dark;
}
.photonav li img {
width: 100%;
}
.slider {
margin: 20px auto;
position: relative;
height: 500px;
-webkit-perspective: 1000px;
-moz-perspective: 1000px;
-ms-perspective: 1000px;
-o-perspective: 1000px;
perspective: 1000px;
-webkit-transform-style: preserve-2d;
-moz-transform-style: preserve-2d;
-ms-transform-style: preserve-2d;
-o-transform-style: preserve-2d;
transform-style: preserve-2d;
}
.slide {
border: 1px solid black;
box-shadow: 10px 10px 5px $gray-dark;
position: absolute;
width: 60%;
left: 20%;
}
.slide.ng-hide-add {
opacity:1;
-webkit-transition:2s linear all;
-moz-transition:2s linear all;
-o-transition:2s linear all;
transition:2s linear all;

-webkit-transform: rotateY(-180deg);
-moz-transform: rotateY(-180deg);
-ms-transform: rotateY(-180deg);
-o-transform: rotateY(-180deg);
transform: rotateY(-180deg);

-webkit-transform-origin: left top 0;
-moz-transform-origin: left top 0;
-ms-transform-origin: left top 0;
-o-transform-origin: left top 0;
transform-origin: left top 0;

animation-delay: 2s;
-webkit-animation-delay: 2s;
-moz-animation-delay: 2s;
-o-animation-delay: 2s;

/*transform:matrix(-1, 0, 0, 1, 0, 0);
-ms-transform:matrix(-1, 0, 0, 1, 0, 0); 
-webkit-transform:matrix(-1, 0, 0, 1, 0, 0); */

background: fade-out(white, .1);

box-shadow: none;
}
.slide.ng-hide-add.ng-hide-add-active {
opacity:0;
}

/*vaihtokuva*/
.slide.ng-hide-remove {
-moz-transition:2s linear all;
-o-transition:2s linear all;
transition:2s linear all;

display:block!important;
opacity:0;

}

/*viimeinen kuva*/
.slide, .slide.ng-hide-remove.ng-hide-remove-active {
opacity:1;
-webkit-transition:2s linear all;
-moz-transition:2s linear all;
-o-transition:2s linear all;
transition:2s linear all;

background: fade-out(white, .2);

animation-delay: 4s;
-webkit-animation-delay: 4s;
-moz-animation-delay: 4s;
-o-animation-delay: 4s;
}

/*Tausta kaikki toiminta*/
 .omatausta
{
background: black;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top right, #FAE10A, #FC7F09, #BC2F01);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top right, #FAE10A, #FC7F09, #BC2F01);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top right, #FAE10A, #FC7F09, #BC2F01);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(top right, #FAE10A, #FC7F09, #BC2F01);

  //background: fade-out(white, .4);
  //background: $gray-dark;

  width: 100%;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius:0px;
  //border: 1px solid white;

}


/*RESPONSIIVISUUS-----------------------------*/

/* Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) { 
  .body
  {
    width: 100%;
    padding-right: 0%;
    margin-left: 0%;
    height: 100%;
  }
  .full_screen{
  padding-top:0px;
  }

  button.navbar-toggle
  {
  margin-right: 80%;
  margin-top: 0px;
  margin-left: 5%;
  height: 70px;
  width: 70px;
  border-radius: 5%;
  
  }
  #myNavbar
{ */
 /* background-color: none;*//*#EEEEEE;/*#2F787B;*/
 /* width: 65%;
  margin-left: 20%;
  margin-top: 10%;
  border: none;

}
  

  .container
{
  max-height: 100%;
  width: 100%;
  top: -5px;
  bottom: 0px;
  padding-top: 0px;
  background: fade-out(white, .5);
}


.wella
{
  margin-left:30%;
}

  #myNavbar{width:90%;}
}*/

 //Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) { 

}

//Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {

#myText li a{font-size:1.25em;}

ul.dropdown-menu > li a{color: black; background-color: none;}
ul#myText.dropdown-menu{color: black; border: none; background-color: rgba(254,254,254, 0.2);}

input.ng-pristine{color: black; background-color: rgba(254,254,254, 0.2);}

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) { 


#myText li a{font-size:1.25em;}

ul.dropdown-menu > li a{color: black; background-color: none;}
ul#myText.dropdown-menu{color: black; background-color: rgba(254,254,254, 0.2);}

input.ng-pristine{color: black; background-color: rgba(254,254,254, 0.2);}

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

.body{
    /*background-color: grey;*/
  }
/*#myName{font-size:3em;}*/
#myText li a{font-size:1.25em;}

ul.dropdown-menu > li a{color: black; background-color: rgba(247, 233, 142, 0.2);}
ul#myText.dropdown-menu{color: black; background-color: rgba(254,254,254, 0.2);}

input.ng-pristine{color: black; background-color: rgba(254,254,254, 0.2);}
}



$zindex-dropdown-backdrop:  990 !default;
$zindex-navbar:            1000 !default;
$zindex-dropdown:          1000 !default;
$zindex-fixed:             1030 !default;
$zindex-sticky:            1030 !default;
$zindex-modal-backdrop:    1040 !default;
$zindex-modal:             1050 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;


